.App {
    text-align: center;
    background-color: #f0f0f0;
    font-family: Arial, sans-serif;
  }
  
  .App-header {
    margin-top: 50px;
  }
  
  .App-link {
    color: #61dafb;
    text-decoration: none;
  }
  